body {
  background: rgb(51, 51, 49);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 97vw;
  text-align: center;
}

/* Title and navbar */

h1 {
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
  font-family: "OCR A Std", monospace;
}

h2 {
  color: #fff;
  font-weight: 300;
  font-family: "OCR A Std", monospace;
}

/* Progress bars and tasks */
.progress-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.progress {
  background: rgba(255, 255, 255, 0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 40px;
  width: 60%;
}

.progress-value {
  transition: 0.3s ease-in-out;
  box-shadow: 0 15px 40px -13px #fff;
  border-radius: 100px;
  background: rgb(245, 129, 51);
  height: 30px;
  width: 0;
  position: relative;
}

.btn {
  width: 50px;
  height: 40px;
  padding: 8px;
  margin: 10px;
  color: #fff;
  border: none;
  background: rgb(144, 119, 151);
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  background: rgb(96, 79, 100);
}

html {
  min-height: 100%;
}

.container {
  width: 100vw;
  min-height: 50%;
  height: 100%;
  padding-bottom: 40px;
}

input {
  margin: 20px 0;
  background: white;
  width: 100%;
  box-sizing: border-box;
  height: 50px;
  font-size: 20px;
  font-weight: 0.5px;
  padding-left: 25px;
  border: 3px solid gray;
  color: gray;
}

input:focus {
  background: #edf1f5;
  border: 3px solid #86a8e7;
  outline: none;
  color: #86a8e7;
}

span.todo-trash {
  margin-right: 10px;
  text-align: center;
  height: 50px;
  width: 50px;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s linear;
}

i {
  position: relative;
  z-index: 0;
  cursor: pointer;
}

button {
  background-color: rgb(144, 119, 151);
  border: 2px solid rgb(144, 119, 151);
  color: white;
  padding: 8px 20px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: sans-serif;
}

button:hover {
  background-color: rgb(96, 79, 100);
  color: #fff;
  border: 2px solid rgb(144, 119, 151);
}

#buttons {
  display: inline-block;
  text-align: center;
  margin: 2px 4px;
}

#todo {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 800px;
  height: 100%;
  position: relative;
}

.todos {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.todos li {
  height: 60px;
  line-height: 50px;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.todos li span.todo-text {
  width: 30%;
  color: #fff;
  padding: 0 5px;
}

.todos li:hover span.todo-trash {
  width: 50px;
  opacity: 1;
}

.display {
  display: none;
  transition: 0.3s linear;
}

.checked {
  color: rgb(56, 230, 80);
  text-decoration: line-through;
}

.fa-pencil-alt {
  float: right;
  padding-top: 8px;
}

.fa-trash-alt {
  color: #7f7fd5;
}

.tips {
  position: relative;
  top: 20%;
  width: 100%;
  text-align: center;
  margin-top: 25px;
}

/*  if screen size less than 450px, resize tips lists and close btn so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }

  #todo {
    width: 100%;
    height: 100%;
  }
}
